<div class="about">
    <div class="content my-container">
        <div class="top">
            <div class="left">
                <h2 class="title">
                    <span>Le Sahré  Ivoire</span>
                    <span> </span>
                </h2>
                <p> 
                    <fa-icon [icon]="faPhone"></fa-icon>
                    <span>09 83 03 63 34</span>
                </p>
                <p> 
                    <fa-icon [icon]="faEnvelope"></fa-icon>
                    <span>contact@le-sahre-ivoire.com</span>
                </p>
                <button routerLink="/a-propos">
                    <span>En Savoir Plus</span>
                    <i class="pi pi-arrow-up-right"></i>
                </button>
            </div>
            
            <div class="right">
                <p>Chez nous, chaque repas est une invitation à un voyage culinaire authentique, où les saveurs exquises du continent africain prennent vie. Notre menu, élaboré par des chefs passionnés, vous emmène à la découverte de plats traditionnels revisités avec créativité et soin.</p>
                <p>Imprégnez-vous de l'ambiance chaleureuse de notre restaurant, où les couleurs vibrantes et les odeurs envoûtantes créent une atmosphère aussi accueillante que nos plats sont délicieux. Chez "Le Sahré Ivoire", nous croyons en l'importance de partager des moments précieux autour d'une table, où la cuisine devient une expérience à part entière.</p>
            </div>
        </div>

        <div class="image-bloc">
            <div class="image-wrapper">
                <img src="../../../../../../assets/img/home/about/bg.jpeg" alt="">
                <fa-icon [icon]="faPlay"></fa-icon>
            </div>
        </div>
    </div>
</div>
