<div class="hero-banner">
    <img src="../../../../../../assets/img/hero/hero.jpg" alt="">
    <div class="texts">
        <span>BIENVENU CHEZ</span>
        <h1 class="restaurant-name"> Le Sahré Ivoire </h1>
        <p>Rejoignez-nous et expérimentez un voyage culinaire captivant à travers des couleurs, des saveurs exotiques et exquises du continent africain.</p>
    </div>
    <fa-icon 
        id="home-about-anchor"
        class="arrows" 
        [icon]="faAnglesDown"
        (click)="onAnglesDownClicked()">
    </fa-icon>
</div>