<div class="our-rewards">
    <div class="content my-container">
        <h2 class="title">Nos Récompenses</h2>
        <p>Bien plus qu'un simple lieu de dégustation, 'Le Sahré Ivoire' a le privilège d'être honoré par une série de récompenses et distinctions culinaires qui témoignent de notre engagement envers l'excellence. Ces distinctions reflètent notre passion pour la création de plats exceptionnels, notre dévouement envers la qualité des ingrédients, et l'expérience gastronomique unique que nous offrons à nos clients.</p>
        
        <ul class="rewards">
            <ng-container>
                <li>OK</li>
                <li>OK</li>
                <li>OK</li>
                <li>OK</li>
                <li>OK</li>
                <li>OK</li>
            </ng-container>
        </ul>
    </div>
</div>