.delivery{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 350px;

    .content{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left{
            object-fit: cover;
            object-position: top center;
            border-radius: 3px;
            height: 500px;
            width: 500px;
            border-radius: 10px;
        }
    
        .right{
            padding-left: 100px;
            width: calc(100% - 500px);

            .title{
                margin-bottom: 30px;
            }
    
            p{
                line-height: 23px;
                font-size: 15px;
                margin-bottom: 8px;
            }
    
            ul{
                list-style: none;
                display:flex;
                gap: 1rem;
                margin-top: 20px;

                li{
                    display:flex;
                    flex-direction: column;
                    align-items: center;
    
                    img{
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
                    }
    
                    span{
                        font-size: 0.95em;
                    }
    
                    a{
                        text-decoration: none;
                        border: 1px solid black;
                        border-radius: 100px;
                        padding: 4px 10px;
                        width: fit-content;
                        outline: none;
                        margin-top: 10px;
                        font-size: 0.85em;
                        cursor: pointer;
                        transition: all 0.3s ease-in-out;
                        color: black;
                        white-space: nowrap;
    
                        &:hover{
                            background-color: #00031f;
                            color: white;
                        }
                    }
                    &:nth-child(2){
                        a{
                            &:hover{
                                background-color: #e67131;
                                border: 1px solid #e67131;                            }
                        }
                    }  
    
                    &:nth-child(3){
                        a{
                            &:hover{
                                background-color: #64d0bf;
                                border: 1px solid #64d0bf;  
                            }
                        }
                    }  
                }
            }
        }
    }

}

@media all and (max-width: 950px){
    .delivery{

        .left{
            width: 400px;
            height: 400px;
            object-position: top center;
            border-radius: 50%;
        }

        .right{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;

            top: 50%;
            transform: translateY(-50%);
            padding: 25px;
            left: 35%;
            border-radius: 10px;
            
            .header{
                color: rgb(0, 0, 0);
                position: relative;
                text-align: center;
    
                &::after{
                    content: "";
                    left: 50%;
                    transform: translateX(-50%);

                }
            }
    
            p{
                margin: 40px 0 30px 0;
                text-align: center;
                span{
                    font-weight: 900;
                }
            }
    
            ul{
                display:flex;
                justify-content: center;

                li{
                    align-items: center;
                    margin: 0 15px;
    
                    img{
                        width: 45px;
                        height: 45px;
                    }
    
                    span{
                        font-size: 0.9em;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 730px){
    .delivery{
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: center;

        .left{
            width: 300px;
            height: 300px;
            object-position: top center;
            border-radius: 5px;
        }

        .right{
            position: relative;
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            left: 0;
            right: 0;
            transform: none;
            background: white;
            border: none;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
    }
}

@media all and (max-width: 425px){
    .delivery{

        .left{
            width: 100%;
        }

        .right{
            box-shadow:none;
            width: 100%;
            padding: 0;

            ul{
                justify-content: space-between;
                width: 100%;

                li{
                    margin: 0;
                }
            }
        }
    }
}