<div class="owner-words">
    <div class="content my-container">
        <div class="texts">
            <h3>Nom Du Propriétaire</h3>
            <p>Chez 'Le Sahré Ivoire', chaque plat raconte une histoire, une histoire qui remonte à mes racines africaines et qui s'exprime à travers chaque saveur. Notre restaurant est bien plus qu'un lieu où l'on se régale, c'est un hommage passionné à la richesse culinaire de l'Afrique, où chaque assiette est préparée avec le même amour que celui que je partage avec ma propre famille.</p>
            <p>Lorsque vous franchissez les portes de 'Le Sahré Ivoire', vous entrez dans une maison de convivialité et de découverte. Venez partager l'expérience 'Le Sahré Ivoire' et laissez notre cuisine vous emmener dans un voyage sensoriel inoubliable.</p>
        </div>
        <div class="image-wrapper">
            <img src="../../../../../../assets/img/about/owner-words.jpeg">
        </div>
    </div>

    <div class="citate">
        <fa-icon [icon]="faQuoteLeft"></fa-icon>
        <p>C'est mon souhait que chaque client se sente non seulement rassasié mais aussi transporté dans un coin spécial du monde, où l'Afrique se dévoile à travers ses délices.</p>
    </div>
</div>
