<div class="hero">
    <div class="top">
        <div class="content my-container">
            <img src="../../../../../../assets/img/home/about/bg.jpeg" alt="">
            <div class="texts">
                <h1> À PROPOS DU SAHRÉ IVOIRE ?</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At velit fuga commodi labore magnam est animi aliquam sint, aperiam voluptate recusandae iusto cum provident veritatis eius repellat ipsa. Voluptatum, repellendus.</p>
            </div>
        </div>
    </div>
    
    <div class="bottom">
        <div class="content my-container">
            <div class="texts">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At velit fuga commodi labore magnam est animi aliquam sint, aperiam voluptate recusandae iusto cum provident veritatis eius repellat ipsa. Voluptatum, repellendus.</p>
                <button routerLink="/a-propos">
                    <span>Voir Les Plats</span>
                    <i class="pi pi-arrow-up-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>